



<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio1">Buy Stock</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio2">Not Selected</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio3">Sell Stock</label>
</div>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups Basic checkbox toggle button group">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-secondary" autocomplete="off">Buy Stock</button>
      <button type="button" class="btn btn-secondary">Not Sure</button>
      <button type="button" class="btn btn-secondary">Sell Stock</button>
</div>