<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-bar-chart"></i> Trade Executions
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">

          <table class="table table-responsive-sm table-hover table-striped mb-0">
            <thead class="thead-light">
            <tr>
              <th class="text-center">Product</th>
              <th class="text-center">Quantity</th>
              <th class="text-center">Price</th>
              <th class="text-center">Side</th>
              <th class="text-center">Portfolio</th>
              <th class="text-center">Status</th>
              <th class="text-center">Exchange</th>
              <th class="text-center">Timestamp</th>
            </tr>
            </thead>

            <tbody>

            <!-- first row -->
            <tr *ngFor="let execution of executions">
              <td>
                <div class="text-center">{{execution["product"]}}</div>
              </td>
              <td class="text-center">
                <div class="text-center">{{execution["quantity"]}}</div>
              </td>
              <td>
                <div class="text-center"><span>USD</span>{{execution["price"]}}</div>
              </td>
              <td>
                <div class="text-center">{{execution["side"]}}</div>
              </td>
              <td>
                <div class=" text-center">{{execution["portfolioName"]}}</div>
              </td>
              <td>
                <div *ngIf="execution['status']?.toLowerCase() === 'pending'"
                     class="badge badge-warning badge-pill text-uppercase">{{execution["status"]}}</div>
                <div *ngIf="execution['status']?.toLowerCase() === 'success'"
                     class="badge badge-success badge-pill text-uppercase">{{execution["status"]}}</div>
                <div *ngIf="execution['status']?.toLowerCase() === 'failed'"
                     class="badge badge-danger badge-pill text-uppercase">{{execution["status"]}}</div>
              </td>
              <td>
                <div class=" text-center">{{execution["exchange"]}}</div>
              </td>
              <td>
                <div class=" text-center">{{execution["timestamp"]}}</div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
