<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-bar-chart"></i> Trade History
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">

          <table class="table table-responsive-sm table-hover table-striped mb-0">
            <thead class="thead-light">
            <tr>
              <th class="text-center">Product</th>
              <th class="text-center">Quantity</th>
              <th class="text-center">Price</th>
              <th class="text-center">Side</th>
              <th class="text-center">Portfolio</th>
              <th class="">Status</th>
              <th class="text-center">Actions</th>
            </tr>
            </thead>

            <tbody>

            <!-- first row -->
            <tr *ngFor="let history of histories">
              <td>
                <div class="text-center">{{history["product"]}}</div>
              </td>
              <td class="text-center">
                <div class="text-center">{{history["quantity"]}}</div>
              </td>
              <td>
                <div class="text-center"><span>USD</span>{{history["price"]}}</div>
              </td>
              <td>
                <div class="text-center">{{history["side"]}}</div>
              </td>
              <td>
                <div class=" text-center">{{history["portfolioName"]}}</div>
              </td>
              <td>
                <div *ngIf="history['status']?.toLowerCase() === 'pending'"
                     class="badge badge-danger text-capitalize">{{history["status"]}}</div>
                <div *ngIf="history['status']?.toLowerCase() === 'success'"
                     class="badge badge-success text-capitalize">{{history["status"]}}</div>
              </td>
              <td>
                <div class=" d-flex justify-content-between">
                  <button [routerLink]="['/trade/history', history['orderId'], 'details']" class="btn btn-sm btn-primary">
                    View Details
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
