<div class="container">

  <div class="row justify-content-end mb-4 mt-4">
   <!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-4 col-md-2" data-bs-toggle="modal" data-target="#exampleModal">
  + new portfolios
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

    <!--End of Modal -->


    <div class="card pt-2 pb-4">
      <div class="card-body">

        <div class="row justify-content-evenly">
          <div class="col-md-4">
            <select class="form-select mb-5" aria-label="">
              <option selected>Select Portfolio</option>
              <option *ngFor="let portfolios of portfolio">{{portfolio}}</option>
            </select>
          </div>


          <div class="col-md-4">
            <select class="form-select mb-5" aria-label="">
              <option selected>Select the stock</option>
              <option *ngFor="let product of products">{{product}}</option>
            </select>
          </div>

        </div>

        <div class="row justify-content-evenly">
          <div class="input-group mb-5 col-md-4">
            <span class="input-group-text">GH¢</span>
            <span class="input-group-text">0.00</span>
            <input type="number" class="form-control" aria-label="amount">
          </div>


          <div class="col-md-4">
            <div class="input-group mb-5">
              <span class="input-group-text" id="inputGroup-sizing-default">Quantity</span>
              <input type="number" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
            </div>

          </div>

          <div class="btn-toolbar col-md-12 justify-content-center" role="toolbar"
            aria-label=" button groups toggle button group">

            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button type="button" class="btn mr-3 btn-success">Buy Stock</button>
              <button type="button" class="btn ml-3 btn-danger">Sell Stock</button>
            </div>

          </div>

        </div>

      </div>
