<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> Market Data
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
        
          

          <table class="table table-responsive-sm table-hover table-striped mb-0">
            <thead class="thead-light">
            <tr>
              
              <th>Ticker</th>
              <th class="text-center">Sell Limit</th>
              <th class="text-center">Last Traded</th>
              <th class="text-center">Max Price</th>
              <th class="text-center">Ask Price</th>
              <th class="text-center">Bid Price</th>
              <th class="text-center">Buy Limit</th>

            </tr>
          </thead>

            <tbody>
            <tr>
          
              <td>
                <div>GOOGL</div>
              </td>

              <td class="text-center">
                <div>GHS <span> 2,000.00</span></div>
              </td>

              <td>
                <div class="text-center">1.30</div>
              </td>

              <td >
                <div class="text-center">1.30</div>
              </td>

              <td>
                <div class="text-center">Last login</div>
              </td>

              <td>
                <div class=" text-center">Last login</div>
              </td>

              <td>
                <div class=" text-center">Last login</div>
              </td>

            </tr>
            
           
            </tbody>
          </table>




      </div>
    </div>
  </div>
</div>
