<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-bank"></i> Market Data
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">

          <table class="table table-responsive-sm table-hover table-striped mb-0">
            <thead class="thead-light">
            <tr>
              <th class="text-center">Ticker</th>
              <th class="text-center">Sell Limit</th>
              <th class="text-center">Last Traded</th>
              <th class="text-center">Max Price</th>
              <th class="text-center">Ask Price</th>
              <th class="text-center">Bid Price</th>
              <th class="text-center">Buy Limit</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of marketData">
              <td class="text-center">
                <div>{{data["TICKER"]}}</div>
              </td>
              <td class="text-center">
                <div> {{data["SELL_LIMIT"]}}</div>
              </td>
              <td>
                <div class="text-center">{{ data["LAST_TRADED_PRICE"]}}</div>
              </td>

              <td>
                <div class="text-center">{{ data["MAX_PRICE_SHIFT"] }}</div>
              </td>

              <td>
                <div class="text-center">{{ data["ASK_PRICE"] }}</div>
              </td>

              <td>
                <div class="text-center">{{ data["BID_PRICE"] }}</div>
              </td>

              <td>
                <div class="text-center">{{ data["BUY_LIMIT"] }}</div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
